<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
<style>
@media (min-width: 600px) {
    #parent {
      display: flex;
    }
    #img {
      flex-grow: 1;
    }
    #goods {
      flex-grow: 1;
      margin-right: 300px;
      margin-left: 400px;
    }
}
</style>
</head>
<body>
    <div align ="right"><a href="/items" id="home">ホーム画面に戻る</a></div>
    <hr>

    <div id="parent">
        <div id="img"><!--画像データの挿入--></div>

        <div id="goods">
            <h1><!--商品名-->商品名</h1>
            <h4>ジャンル：<!--ジャンル-->ジャンル名</h4>
    

            <form>
                <font size="5">&yen;<!--値段-->1000</font>
                <div align="right">個数：<select name="quantity" size="1"><!--購入個数入力-->
                    <!--個数分表示-->
                    <option value="1">1個</option>
                    <option value="2">2個</option>
                    <option value="3">3個</option>
                    <option value="4">4個</option>
                    <option value="5">5個</option>
                    </select>
                </div>
                <br>
                <div align ="right">残り<!--残り個数-->個です</div>
                <br>
                <div align ="right"><input type="submit" value = "カートに入れる" style="background-color: red; color: white;" ></div>
            </form>
        </div>
    </div>

</body>
</html>