<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
<style>
@media (min-width: 600px) {
    #parent {
      display: flex;
    }
    #img {
      flex-grow: 1;
    }
    #goods {
      flex-grow: 1;
      margin-right: 200px;
      margin-left: 300px;
    }
}
</style>
</head>
<body th:each="item:${item}">
<h3 align ="left">商品詳細ページ</h3>
    <div align ="right"><a href="/item" id="home">ホーム画面に戻る</a></div>
    <hr>
    <div id="parent">
    <span >
     <img th:src="@{'/images/'+${item.image}}">
</span>
        <div id="goods">
            <h1 th:text="${item.name}"></h1>
            <th:block th:each="genre:${genre}"><h4 th:text="${genre.name}">ジャンル：<!--ジャンル-->ジャンル名</h4></th:block>
    

            <form>
                <font size="5" th:text="'&yen;'+${item.price}"></font>
                <div align="right">個数：<select name="quantity" size="1"><!--購入個数入力-->
                    <!--個数分表示-->
                    <option value="1">1個</option>
                    <option value="2">2個</option>
                    <option value="3">3個</option>
                    <option value="4">4個</option>
                    <option value="5">5個</option>
                    </select>
                </div>
                <br>
                <div align ="right">残り<a th:text="${item.quantity}"></a>個です</div>
                <br>
                <div align ="right"><input type="submit" value = "カートに入れる" style="background-color: red; color: white;" ></div>
            </form>
        </div>
    </div>

</body>
</html>