<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ジャンル画面</title>
<link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body style="text-align: center;">
<div id="PageCenter">
    <div style="text-align: left">
        <a href="/">ログアウト</a>
    </div>
    <div style="text-align: right;">
    <a href="/item" class="home">ホーム画面に戻る</a>
    <h3 style="text-align: center;">ショッピングサイト</h3>
        <a href="/item/history">注文履歴</a> / <a href="/item/cart">カートの中身</a> <br>
        ランク：
    <th:block th:if="${session.customerInfo.total<50000}">
    <a>ノーマル</a>
    </th:block>
    <th:block th:if="${session.customerInfo.total>=50000&&session.customerInfo.total<100000}">
    <a  style=color:#b87333;>ブロンズ</a>
    </th:block>
    <th:block th:if="${session.customerInfo.total>=100000&&session.customerInfo.total<200000}">
<a style=color:#c0c0c0;>シルバー</a>
    </th:block>
    <th:block th:if="${session.customerInfo.total>=200000}">
    <a style=color:#e6b422;>ゴールド</a>
    </th:block>
   
    </div>

 
 
    <div style="text-align: right">
       ソート機能
          <form method="post" name="desc" th:action="@{'/item/genre?sort=price_desc&keyword=' + ${keyword}+'&categoryCode='+${categoryCode}}" >
            <input type="hidden">
            <a href="javascript:desc.submit()" style="padding-left:10px;">価格の高い順</a>
        </form>
        <form method="post" name="asc" th:action="@{'/item/genre?sort=price_asc&keyword=' + ${keyword}+'&categoryCode='+${categoryCode}}" >
            <input type="hidden">
            <a href="javascript:asc.submit()" style="padding-left:10px;">価格の低い順</a>
        </form>
   
    </div>

    <br>
    <div style="text-align: center; background-color: aqua; padding: 10px">
        <div style = "display:inline-flex">
        
       <form method="post" name="genre1" action="/item/genre" >
            <input type="hidden" name="categoryCode" value=1>
            <a href="javascript:genre1.submit()" style="padding-left:10px;">食品</a>
        </form>
        
        <form method="post" name="genre2" action="/item/genre" >
            <input type="hidden" name="categoryCode" value=2>
            <a href="javascript:genre2.submit()" style="padding-left:10px">日用品</a>
        </form>
        <form method="post" name="genre3" action="/item/genre" >
            <input type="hidden" name="categoryCode" value=3>
            <a href="javascript:genre3.submit()" style="padding-left:10px">ファッション</a>
        </form>
        <form method="post" name="genre4" action="/item/genre" >
            <input type="hidden" name="categoryCode" value=4>
            <a href="javascript:genre4.submit()" style="padding-left:10px;">本</a>
        </form>
        <form method="post" name="genre5" action="/item/genre" >
            <input type="hidden" name="categoryCode" value=5>
            <a href="javascript:genre5.submit()" style="padding-left:10px">映画</a>
        </form>
        <form method="post" name="genre6" action="/item/genre" >
            <input type="hidden" name="categoryCode" value=6>
            <a href="javascript:genre6.submit()" style="padding-left:10px">音楽</a>
        </form>
        <form method="post" name="genre7" action="/item/genre" >
            <input type="hidden" name="categoryCode" value=7>
            <a href="javascript:genre7.submit()" style="padding-left:10px">ゲーム</a>
        </form>
        </div>
    </div>


   <p>
   <marquee style=background-color:#e6e622;>    
        <a>タイムセール！12:00～13:00</a> <a>17:00～18:00 の間は</a> <a style=color:red;>全商品10%OFF</a>
   </marquee>
   </p>


    <hr>

   
   <form action="/item" style="text-align: center">
        <input type="text" name="keyword" th:value="${keyword}"> 
        <input type="submit" id="submit" value="検索">
    </form>


    <table border="1" align="center">
        <tr>
            <th>NO</th>
            <th>商品名</th>
            <th>値段</th>
        </tr>
        <tr th:each="item:${item}">
            <td th:text="${item.code}"></td>
            <td><span th:if="${item.quantity}>=1">
            <a th:href="'/item/'+${item.code}"th:text="${item.name}"></a></span>
            <span th:if="${item.quantity}<=0">
           <a th:text="${item.name}+'は在庫切れです'"></a>
            </span></td>
            <td th:text="${item.price}"></td>
        </tr>
    </table>
    </div>
</body>
</html>