<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
</head>
<body>

<h2 style="margin-left: 400px">ログイン</h2>

<form action="login" method="post">
        <p style="text-align: center">ログインID : <input type="text" name="loginId" ></p>
        <p style="text-align: center">パスワード : <input type="password" name="password"></p>
        <p style="text-align: center"><span th:text="${message}" style="color:red"></span></p>
        <p style="text-align: center"><input type="submit" value="ログイン"></p>
    <p></p>
</form>
<p></p>
<span style="margin-left: 400px"><a href="/new">新規登録</a></span>

</body>
</html>