<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
<link th:href="@{/css/style.css}" rel="stylesheet">
<style>
div{
    margin: auto;
} 
</style>
</head>
<body>
<div id="PageCenter">
<h1 style="text-align:center">ログイン画面</h1>
<div style="padding: 10px; width: 350px; margin-bottom: 10px; 
border: 5px double #333333; text-align: center; background-color: #00ffff">
<form action="login" method="post">
        <p >ログインID : <input type="text" name="loginId" ></p>
        <p >パスワード : <input type="password" name="password"></p>
        <p ><span th:text="${message}" style="color:red"></span></p>
        <p ><input type="submit" id="submit" value="ログイン"></p>
</form>
 </div>
<span style="margin-right: 300px"><a href="/new">新規登録</a></span>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>

</body>
</html>