<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>注文履歴</title>
<link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body align="center">
<div id="PageCenter">
	<h3>
		注文履歴<a href="/item" style="margin-left: 250px;" class="home">ホームに戻る</a>
	</h3>

	<br>
	<table border="1" align="center">
		<tr>
			<th>NO</th>
			<th>注文日時</th>
			<th>価格</th>
			<th>支払方法</th>
		</tr>
		  <tr th:each="ordered:${ordered}">
			<td th:text="${ordered.code}"></td>
			<td th:text= "${#dates.format(ordered.orderedDate,'yyyy/MM/dd')}"></td>
			<td th:text="${ordered.totalPrice}"></td>
			<td th:text="${ordered.payment}"></td>
		</tr>
		
	</table>
	<br>
	</div>
</body>

</html>