<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>注文履歴</title>
</head>

<body align="center">
	<h3>
		注文履歴<a href="/item" style="margin-left: 250px;">ホームに戻る</a>
	</h3>

	<br>
	<table border="1" align="center">
		<tr>
			<th>NO</th>
			<th>注文日時</th>
			<th>価格</th>
			<th>支払方法</th>
			<th>詳細</th>
		</tr>
		  <tr th:each="ordered:${ordered}">
			<td th:text="${ordered.code}"></td>
			<td th:text="${ordered.orderedDate}"></td>
			<td th:text="${ordered.totalPrice}"></td>
			<td th:text="${ordered.payment}"></td>
			<td><form th:action="@{/item/orderhistorydetail/{code}/(code=${ordered.code})}">
			<input type="submit" value="詳細"></form></td>
		</tr>
		
	</table>
	<br>
</body>

</html>