<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>注文履歴</title>
</head>

<body align="center">
	<h3>
		注文履歴<a href="/item" style="margin-left: 250px;">ホームに戻る</a>
	</h3>

	<br>
	<table border="1" align="center">
		<tr>
			<th>NO</th>
			<th>商品名</th>
			<th>価格</th>
			<th>個数</th>
			<th>小計</th>
		</tr>
		<tr th:each="item:${items}">
			<td th:text="${item.value.code}"></td>
			<td th:text="${item.value.name}"></td>
			<td th:text="${item.value.price}"></td>
			<td th:text="${item.value.quantity}"></td>
			<td th:text="${item.value.price * item.value.quantity}"></td>
		</tr>
		<tr>
			 <td align= "right" colspan = "5" th:text = "'総計：' + ${total}+'円'"></td>
		</tr>
	</table>
	<br>
	<a href="/item">ホームに戻る</a>
	<!--<span th:replace="home"></span>-->
</body>

</html>