<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>新規登録</title>
<style type="text/css">
label {
	display: inline-block;
	text-align: left;
	width: 150px;
}
</style>
</head>

<body align="center">
	<form action="/signup" method="post">
		<h1>新規登録画面</h1>
		<span th:text="${message}" style="color:red"></span>
		<h3>
			<label>ログインID</label><input type="text" name="id"><br> 
			<label>パスワード</label><input type="text" name="password"><br>
			<label>名前</label><input	type="text" name="name"><br>
			<label>住所</label><input type="text" name="address"><br> 
			<label>電話番号</label><input type="text" name="tel"><br>
			<label>メールアドレス</label><input type="text" name="email"><br> 
			<br> <input type="submit" value="登録">
		</h3>
	</form>
</body>

</html>